/* this is the base less for all the sites */
/**
 * CSS reset
 * @fileoverview
 * @author seanxphuang
 * @create 14-5-27
 */
html {
  overflow: auto;
}
body {
  min-width: 1220px;
  font: status-bar;
  font-size: 14px;
  line-height: 1.5;
  color: #1e2330;
  overflow: hidden;
}
:focus {
  outline: none;
}
h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
body,
form,
ul,
ol,
dl,
dd,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
}
img {
  border: none;
  vertical-align: bottom;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: inherit;
}
select {
  opacity: 0;
  filter: alpha(opacity=0);
  *zoom: 1;
}
a {
  text-decoration: none;
  color: #0067ed;
}
a * {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #0056c7;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
[hidden] {
  display: none;
}
/*禁用ie下文本框后面的X*/
/*input::-ms-clear {
  display: none;
}*/
div::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
div::-webkit-scrollbar-thumb {
  background-color: #c8cbcc;
  border-radius: 8px;
}
div::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}
div::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
/**
 *
 * @variable.less
 * @author xinxuzhang
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
/* qf border, added by vergilzhou */
/* added by vergilzhou ended */
/*
 *
 * @mixin.less
 * @author xinxuzhang
 * @create 14-11-05
 */
/* added by vergilzhou */
/* set last item (Example: td) no border-bottom, if the wraper has box-shadow */
/*mixin-icons*/
/*@import 'mixin-icons';*/
/*                 mixin end              */
/**
 *
 * @fonts.less
 * @author xinxuzhang
 * @create 14-11-20
 * @use opensourse https://icomoon.io/app/
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-ktmrk7');
  src: url('fonts/icomoon.eot?#iefix-ktmrk7') format('embedded-opentype'), url('fonts/icomoon.woff?-ktmrk7') format('woff'), url('fonts/icomoon.ttf?-ktmrk7') format('truetype'), url('fonts/icomoon.svg?-ktmrk7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="font-"],
[class*=" font-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-family: 'icomoon';
  vertical-align: -1px;
}
.font-key:before {
  content: "\e600";
}
.font-stop:before {
  content: "\e601";
}
.font-delete:before {
  content: "\e602";
}
.font-edit:before {
  content: "\e603";
}
.font-key {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe600;');
}
.font-stop {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe601;');
}
.font-delete {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe602;');
}
.font-edit {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe603;');
}
*/
/**
 *
 * @lib.less
 * @author xinxuzhang
 * @create 14-11-21
 */
/* ---------------------single CSS----------------------- */
/* display */
.dn {
  display: none;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
/* if the element is block level(eg. div, li), using 'inline_any' instead */
/* line-height */
.lh14 {
  line-height: 14px;
}
.lh16 {
  line-height: 16px;
}
.lh18 {
  line-height: 18px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh24 {
  line-height: 24px;
}
/* margin */
.m0 {
  margin: 0;
}
.ml1 {
  margin-left: 1px;
}
.ml2 {
  margin-left: 2px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.mr1 {
  margin-right: 1px;
}
.mr2 {
  margin-right: 2px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mt1 {
  margin-top: 1px;
}
.mt2 {
  margin-top: 2px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb1 {
  margin-bottom: 1px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
/* padding */
.p0 {
  padding: 0;
}
.p1 {
  padding: 1px;
}
.pl1 {
  padding-left: 1px;
}
.pt1 {
  padding-top: 1px;
}
.pr1 {
  padding-right: 1px;
}
.pb1 {
  padding-bottom: 1px;
}
.p2 {
  padding: 2px;
}
.pl2 {
  padding-left: 2px;
}
.pt2 {
  padding-top: 2px;
}
.pr2 {
  padding-right: 2px;
}
.pb2 {
  padding-bottom: 2px;
}
.pl5 {
  padding-left: 5px;
}
.p5 {
  padding: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.p10 {
  padding: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.p15 {
  padding: 15px;
}
.pl15 {
  padding-left: 15px;
}
.pt15 {
  padding-top: 15px;
}
.pr15 {
  padding-right: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.p20 {
  padding: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.p30 {
  padding: 30px;
}
.pl30 {
  padding-left: 30px;
}
.pt30 {
  padding-top: 30px;
}
.pr30 {
  padding-right: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
/*bgcolor*/
.bgwh {
  background-color: white;
}
/*color*/
.wh {
  color: white;
}
/* font-size */
.f0 {
  font-size: 0;
}
.f10 {
  font-size: 10px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
/* font-family */
.fa {
  font-family: Arial;
}
.ft {
  font-family: Tahoma;
}
.fv {
  font-family: Verdana;
}
.fs {
  font-family: Simsun;
}
/* .fl{font-family:'Lucida Console';} */
.fw {
  font-family: 'Microsoft Yahei';
}
/* font-style */
.n {
  font-weight: normal;
  font-style: normal;
}
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
/* text-align */
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.tj {
  text-align: justify;
}
/* text-decoration */
.tdl {
  text-decoration: underline;
}
.tdn,
.tdn:hover,
.tdn a:hover,
a.tdl:hover {
  text-decoration: none;
}
/* letter-spacing */
.lt-1 {
  letter-spacing: -1px;
}
.lt0 {
  letter-spacing: 0;
}
.lt1 {
  letter-spacing: 1px;
}
/* white-space */
.nowrap {
  white-space: nowrap;
}
/* word-wrap */
.bk {
  word-wrap: break-word;
}
/* vertical-align */
.vm {
  vertical-align: middle;
}
.vtb {
  vertical-align: text-bottom;
}
.vb {
  vertical-align: bottom;
}
.vt {
  vertical-align: top;
}
.vn {
  vertical-align: -4px;
}
/* float */
.l {
  float: left;
}
.r {
  float: right;
}
/* clear */
.cl {
  clear: both;
}
/* position */
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
/*z-index*/
.zx1 {
  z-index: 1;
}
.zx2 {
  z-index: 2;
}
/* cursor */
.poi {
  cursor: pointer;
}
.def {
  cursor: default;
}
/* overflow */
.ovh {
  overflow: hidden;
}
.ova {
  overflow: auto;
}
/* visibility */
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
/* zoom */
.z {
  *zoom: 1;
}
/* for margin & padding | width & height =================== */
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.p10 {
  padding: 10px;
}
.p5_0 {
  padding: 5px 0;
}
.p10_0 {
  padding: 10px 0;
}
.p15_0 {
  padding: 10px 0;
}
.p0_5 {
  padding: 0 5px;
}
.p0_10 {
  padding: 0 10px;
}
.p0_15 {
  padding: 0 15px;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.size3t4 {
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  white-space: nowrap;
}
.size2t4 {
  letter-spacing: 2em;
  margin-right: -2em;
  white-space: nowrap;
}
.inblock {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  overflow: hidden;
  text-indent: -20000px;
  *text-indent: 0;
  *line-height: 0;
  *font-size: 0;
}
.hidden {
  display: none!important;
}
/* 清除浮动*/
.fix {
  *zoom: 1;
}
.fix:after {
  display: table;
  content: '';
  clear: both;
}
#shtml {
  overflow: hidden;
  height: 0;
}
#shtml.shtml-loaded {
  height: auto;
  overflow: visible;
}
.shtml-loading {
  height: 400px;
  line-height: 400px;
  text-align: center;
}
.icon-qd,
.icon-qd-add-white,
.icon-qd-alert,
.icon-qd-arrow-down,
.icon-qd-arrow-left,
.icon-qd-arrow-up,
.icon-qd-close-primary,
.icon-qd-close-success,
.icon-qd-close-waiting,
.icon-qd-close-warning,
.icon-qd-del,
.icon-qd-edit-white,
.icon-qd-edit,
.icon-qd-error,
.icon-qd-export,
.icon-qd-link-plus-disable,
.icon-qd-link-plus,
.icon-qd-more,
.icon-qd-nodata,
.icon-qd-nosearchdata,
.icon-qd-refresh,
.icon-qd-report,
.icon-qd-setting,
.icon-qd-tip-primary,
.icon-qd-tip-success,
.icon-qd-tip-waiting,
.icon-qd-tip-warning,
.icon-qd-tips-grey,
.icon-qd-web {
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  overflow: hidden;
  background: url("images/icons-qd.png?v=20161213") no-repeat;
}
.icon-qd-add-white {
  width: 20px;
  height: 20px;
  background-position: 0px -536px;
}
.icon-qd-alert {
  width: 18px;
  height: 18px;
  background-position: 0px -218px;
}
.icon-qd-arrow-down:hover {
  background-position: 0px -48px;
}
.icon-qd-arrow-down {
  width: 10px;
  height: 6px;
  background-position: 0px 0px;
}
.icon-qd-arrow-left:hover {
  background-position: 0px -64px;
}
.icon-qd-arrow-left {
  width: 8px;
  height: 14px;
  background-position: 0px -88px;
}
.icon-qd-arrow-up:hover {
  background-position: 0px -16px;
}
.icon-qd-arrow-up {
  width: 10px;
  height: 6px;
  background-position: 0px -32px;
}
.icon-qd-close-primary {
  width: 20px;
  height: 20px;
  background-position: 0px -746px;
}
.icon-qd-close-success {
  width: 20px;
  height: 20px;
  background-position: 0px -416px;
}
.icon-qd-close-waiting {
  width: 20px;
  height: 20px;
  background-position: 0px -476px;
}
.icon-qd-close-warning {
  width: 20px;
  height: 20px;
  background-position: 0px -506px;
}
.icon-qd-del:hover {
  background-position: 0px -274px;
}
.icon-qd-del {
  width: 18px;
  height: 18px;
  background-position: 0px -190px;
}
.icon-qd-edit:hover {
  background-position: 0px -776px;
}
.icon-qd-edit-white {
  width: 20px;
  height: 20px;
  background-position: 0px -806px;
}
.icon-qd-edit {
  width: 20px;
  height: 20px;
  background-position: 0px -836px;
}
.icon-qd-error {
  width: 16px;
  height: 16px;
  background-position: 0px -112px;
}
.icon-qd-export:hover,
.content .qd-data-export:hover .icon-qd-export {
  background-position: 0px -446px;
}
.icon-qd-export {
  width: 20px;
  height: 20px;
  background-position: 0px -386px;
}
.icon-qd-link-plus-disable {
  width: 16px;
  height: 16px;
  background-position: 0px -138px;
}
.icon-qd-link-plus {
  width: 16px;
  height: 16px;
  background-position: 0px -164px;
}
.icon-qd-more:hover {
  background-position: 0px -566px;
}
.icon-qd-more {
  width: 20px;
  height: 20px;
  background-position: 0px -596px;
}
.icon-qd-nodata {
  width: 100px;
  height: 100px;
  background-position: 0px -1142px;
}
.icon-qd-nosearchdata {
  width: 100px;
  height: 100px;
  background-position: 0px -1032px;
}
.icon-qd-refresh:hover {
  background-position: 0px -686px;
}
.icon-qd-refresh {
  width: 20px;
  height: 20px;
  background-position: 0px -716px;
}
.icon-qd-report:hover {
  background-position: 0px -302px;
}
.icon-qd-report {
  width: 16px;
  height: 18px;
  background-position: 0px -330px;
}
.icon-qd-setting:hover {
  background-position: 0px -358px;
}
.icon-qd-setting {
  width: 18px;
  height: 18px;
  background-position: 0px -246px;
}
.icon-qd-tip-primary {
  width: 24px;
  height: 24px;
  background-position: 0px -896px;
}
.icon-qd-tip-success {
  width: 24px;
  height: 24px;
  background-position: 0px -930px;
}
.icon-qd-tip-waiting {
  width: 24px;
  height: 24px;
  background-position: 0px -964px;
}
.icon-qd-tip-warning {
  width: 24px;
  height: 24px;
  background-position: 0px -998px;
}
.icon-qd-tips-grey:hover {
  background-position: 0px -656px;
}
.icon-qd-tips-grey {
  width: 20px;
  height: 20px;
  background-position: 0px -626px;
}
.icon-qd-web {
  width: 20px;
  height: 20px;
  background-position: 0px -866px;
}
div.content-full{
  padding-bottom: 50px;
}
.content-hd {
  line-height: 20px;
  font-size: 14px;
}
.content-back {
  margin-top: 30px;
  font-size: 18px;
}
.content-back i {
  float: left;
  margin: 3px 10px 0 0;
}
.content-back a {
  color: #A8ABB3;
  line-height: 20px;
}
.content-back a:hover {
  color: #1E2330;
}
.content-back a:hover i {
  background-position: 0px -64px;
}
.content-msg {
  position: relative;
  z-index: 0;
  margin-top: 30px;
  padding: 15px 40px 15px 20px;
}
.content-msg-success {
  background: #D9F7DF;
}
.content-msg-waiting {
  background: #FFF1D6;
}
.content-msg-warning {
  background: #FFE3DE;
}
.content-msg-primary {
  background: #E0EBFD;
}
.content-msg-txt {
  min-height: 20px;
}
.content-msg-txt p {
  margin: 0;
}
.content-msg-icon {
  float: left;
  margin: -4px 10px 0 0;
}
.content-msg-close {
  position: absolute;
  top: 15px;
  right: 20px;
}
.content-title {
  line-height: 1.5;
}
.content-title-back {
  line-height: 1.5;
}
.content-title-back h1 {
  font-size: 24px;
}
.content-title-append {
  font-size: 14px;
  margin-left: 5px;
  color: #a8abb3;
  vertical-align: text-bottom;
}
.content-title-r {
  float: right;
  line-height: 20px;
  font-size: 14px;
}
.content-tab {
  margin-top: -20px;
  padding-bottom: 20px;
}
.content-tab-list {
  list-style-type: none;
  padding: 0;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dadee7;
}
.content-tab-item {
  float: left;
  margin-right: 46px;
  color: #1e2330;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  position: relative;
}
.content-tab-item a,
.content-tab-item a:hover {
  color: inherit;
}
.content-tab-item:hover {
  color: #0067ed;
}
.content-tab-item-selected,
.content-tab-item:hover {
  color: #0067ed;
}
.content-tab-item-selected:after {
  content: ' ';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #0067ed;
  -webkit-transition: all .25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.content .qd-data-export {
  margin-left: 20px;
  font-size: 16px;
  color: #1E2330;
  cursor: pointer;
  float: right;
  margin-top: 8px;
}
.content .qd-data-export i {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 3px;
}
.content .qd-data-export:hover {
  color: #0067ED;
}
body .avatar-tip .lbf-tip-content {
  margin-bottom: 0px !important;
}
.item-body .lbf-text-input,
.modifypwd-wrap .lbf-text-input {
  margin-top: 30px;
  position: relative;
  font-size: 16px;
  padding: 0;
  border: 0;
  height: auto;
}
.item-body .lbf-text-input input,
.modifypwd-wrap .lbf-text-input input {
  padding: 9px 0;
  border: 0;
  border-bottom: 1px solid #dadee7;
}
.item-body .lbf-text-input input:focus,
.modifypwd-wrap .lbf-text-input input:focus {
  border-bottom: 2px solid #0067ed;
  padding-bottom: 8px;
}
.item-body .lbf-text-input label,
.modifypwd-wrap .lbf-text-input label {
  overflow: inherit;
}
.item-body .lbf-text-input-remind,
.modifypwd-wrap .lbf-text-input-remind {
  line-height: 30px;
  font-size: 14px;
  color: #b4b7bf;
}
.item-body .lbf-text-input > .error,
.modifypwd-wrap .lbf-text-input > .error {
  color: #ff4222;
  position: absolute;
  padding: 9px 0;
  font-size: 14px;
  top: -25px;
  right: 0;
}
.item-body .lbf-text-input-placeholder .required,
.modifypwd-wrap .lbf-text-input-placeholder .required {
  position: absolute;
  margin: 2px 0 0 -10px;
  color: #ff4222;
}
.item-body .lbf-text-input-placeholder,
.modifypwd-wrap .lbf-text-input-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 20px;
  padding: 9px 0;
  font-size: 100%;
  color: #b4b7bf;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
  cursor: text;
  white-space: nowrap;
}
.item-body .lbf-text-input.lbf-text-input-active .lbf-text-input-placeholder,
.modifypwd-wrap .lbf-text-input.lbf-text-input-active .lbf-text-input-placeholder,
.item-body .lbf-text-input > input:focus ~ .lbf-text-input-placeholder,
.modifypwd-wrap .lbf-text-input > input:focus ~ .lbf-text-input-placeholder {
  top: -25px;
  font-size: 14px;
}
.item-body .lbf-text-input > input:focus ~ .lbf-text-input-placeholder,
.modifypwd-wrap .lbf-text-input > input:focus ~ .lbf-text-input-placeholder {
  color: #0067ed;
  opacity: 1;
  filter: alpha(opacity=90);
}
.item-body .lbf-text-input > .error,
.modifypwd-wrap .lbf-text-input > .error {
  color: #ff4222;
  position: absolute;
  padding: 9px 0;
  font-size: 14px;
  top: -25px;
  right: 0;
}
.item-body .lbf-text-input-error,
.modifypwd-wrap .lbf-text-input-error,
.item-body .lbf-text-input-error:focus,
.modifypwd-wrap .lbf-text-input-error:focus,
.item-body .lbf-text-input-error:hover,
.modifypwd-wrap .lbf-text-input-error:hover {
  border-color: #FF4222;
  background-color: white;
}

/*没有左侧菜单时的全局样式*/
.content.no-slide {
    width: 100%;
}
.footer.no-slide {
    padding-left: 0 !important;
}
.footer.no-slide:before,
.footer.no-slide:after {
    left: 0 !important;
}
.footer.no-slide:after {
    border-left: none !important;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio:2) {
    .header-logo-a {
        background-image:url(images/logo/service@2x.png)
    }
}

.header-logo-a {
    background: url(images/logo/service.png) left center no-repeat;
}
