<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<%
    var info = data.info;
    var nav = data.nav;
    var menu = data.menu;
    var showCopyright = data.showCopyright;
    var serverBase;
%>
<%
    if (data.branch) {
        locals.base = locals.branch_base[data.branch];
        locals.shtml_base = locals.shtml_branch_base[data.branch];
        serverBase = locals.branch_server_base[data.branch];
    }
    var _shtmlUiPath = locals.lbfConf.vars['shtmlUI-theme'] = locals.lbfConf.vars['shtmlUI-theme'].replace('{shtml_base}', locals.shtml_base);
    locals.lbfConf.vars.theme = locals.lbfConf.vars.theme.replace('{base}', locals.base);
    var _domain = locals.domain;
    var _qidianDomain =  locals.serverDomain;
    var title = title || '腾讯企点';
%>
<script type="text/javascript">
    document.domain = location.hostname;

    //添加tcss测速点
    var _speedMark = new Date();
    var GLOBAL_STATIC_PATH = '//<%== _domain %><%== locals.base %>';
    var GLOBAL_STATIC_BASE = '<%== locals.base %>';
    var GLOBAL_QIDIAN_BASE = '<%== serverBase %>';


</script>

<title><%== title%></title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection" />
<link rel="stylesheet" type="text/css" href="//<%== locals.vhtml %>vhtml2.css<%== locals.lbfConf.comboSuffix %>" />

<% for (var i in css) { %>
    <link rel="stylesheet" type="text/css" href="//<%== _domain %><%== locals.base %><%== css[i]%><%== locals.lbfConf.comboSuffix %>" />
<% } %>
<!--[if gte IE 7]>
<script>
(function () {
    var elements = <%== safeJSONStringify(xtags || [])%>;
    for (var i = 0; i < elements.length; i++) {
        document.createElement(elements[i]);
    }
})();
</script>
<![endif]-->
</head>

<body>


<!--主要内容区开始-->
<div class="content page-rules">
    <div class="content-full">
        <div id="login-placeholder"></div>
        <div id="pwd-placeholder"></div>
        <div id="app">

        </div>
    </div>
    <!--主要内容区结束-->

    <%
        var _domain = locals.domain,
            _lbfSrc = locals.lbfSrc,
            showFooter = data.showFooter || true,
            sslDomain = locals.sslDomain || 'bqq.gtimg.com',
            errorIe = ['Windows NT 6.2',   //win8
                        'Windows NT 5.2',   //xp x64, window server 2003
                        'Windows NT 5.1'
                       ];

        if (ua.isMSIE(data && data.req && data.req.ua) && ua.isErrorSys(data && data.req && data.req.ua, errorIe)) {
            _domain = sslDomain;
            _lbfSrc = '//' + sslDomain + '/lbf/0.8.4/LBF.js';
            _theme = '//' + sslDomain + '/ad/src/themes/qidian';
        }
    %>

    </div>
    </div>
<script>
var vConf = <%== safeJSONStringify(locals) %>;
</script>
<script>
    window.PAGE_DATA = <%== safeJSONStringify(data.data) %>;
</script>

<!-- old lbf script -->
<script charset="utf-8" src="//<%== _qidianDomain %>/lbf/0.8.4.1/LBF.js"></script>
<script type="text/javascript">
    var lbfConf = <%== safeJSONStringify(locals.lbfConf) %>;
    lbfConf.vars.base = '<%== serverBase %>';
    lbfConf.vars.shtml_base = '<%== locals.shtml_base %>';
    lbfConf.vars.domain = '<%== _qidianDomain %>';
    lbfConf.vars.theme = '<%== locals.lbfConf.vars['shtmlUI-theme'] %>';
    lbfConf.vars.qidianTheme = '<%== locals.lbfConf.vars['theme'].replace('default', 'qidian') %>';

    LBF.config(lbfConf);
</script>
<!--<script>
    LBF.use('ad.sites.qidian.comp.commonInit', function(init){init()});
</script>-->

<!-- MTA -->
<script type="text/javascript" src="//pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500150019" ></script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MFDMM6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFDMM6');</script>
<!-- End Google Tag Manager -->
<!-- WPA start -->
<style type="text/css">
    .class_qidian_wpa {
        top: auto !important;
        bottom: 20px;
        height: 72px;
    }
</style>


<!-- QiDianDA -->
<% if (locals.lbfConf.env !== 'production') {%>
<script>
(function(w, a, m){m='__qq_qidian_da';w[m]=a;w[a]=w[a]||function(){(w[a][m]=w[a][m]||[]).push(arguments);};})(window,'qidianDA');
qidianDA('create', '2852000002', 'db03cc2a12ea4659f12c1c40d37dd2bf', {
    mtaId: '500429967'
});
qidianDA('set', 't1', new Date());
</script>
<% } else {%>
<script>
(function(w, a, m){m='__qq_qidian_da';w[m]=a;w[a]=w[a]||function(){(w[a][m]=w[a][m]||[]).push(arguments);};})(window,'qidianDA');
qidianDA('create', '2852060752', '049bb30b6c9689a9f49f98e086f0b15f', {
    mtaId: '500381562'
});
qidianDA('set', 't1', new Date());
</script>
<%}%>
<script async src="//<%== _qidianDomain %>/ea/src/sites/qidian/comp/addEvent.js<%== locals.lbfConf.comboSuffix %>"></script>

<script type="text/javascript" src="//<%== locals.vhtml %><%== locals.vue %>.js<%== locals.lbfConf.comboSuffix %>"></script>
<script type="text/javascript" src="//<%== locals.vhtml %>vhtml2.js<%== locals.lbfConf.comboSuffix %>"></script>
<script async src="//bqq.gtimg.com/da/i.js"></script>
<!-- <script async src="http://oaimg.b.qq.com/da/i-oa.js"></script> -->
<!-- End QiDianDA -->
<!-- WPA end -->
</body>
</html>
